/* general style */
*{

    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.hidden{
    display: none;
}

/* Remove the up and down arrows (spinners) from the number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


input, label{
    display: block;
}

.container{
    padding: 2em;
    background-color: lightslategray;
}

/* form layout */
.form-container{
    display: flex;
    /* background-color: green; */
    position: relative;
    align-items: center;
    border-bottom: 1px solid black;
}

.formGroup{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* padding: 0.2em 0 3em; */
    width: 100%;
    margin-bottom: 20px;
}

.formgGroup--item{
    margin-right: 12px;
}

.formgGroup--item input{
    /* padding: 0.5em; */
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 90px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .5);
    /* border: none */
}

.formgGroup--item p{
    visibility: hidden;
}
/* error message class */
.error input{
    border: 1px solid red;
}

.error label{
    color: red;
}

.error p{
    color: red;
    visibility: visible;
}

/* success message class */

.success input{
    border: 2px solid green;
}

.success label{
    color: green;
}

.success p{
    visibility: hidden;
}

.form-container button{
    position: absolute;
    left: 50%;
    bottom: -30px;
    /* margin-left: 20px; */
    margin-top: 50px;
    border-radius: 100%;
    border: none;
    background-color: black;
    transform: translate(-50%);
    /* padding: 0.5em; */
}

.formgGroup--item p{
    margin: 10px 0px 0px;
}
.result{
    padding: 3em 0 .5em;
}

.result h1{
    /* padding: 2em 0; */
    font-size: 4rem;
    margin: 0;
    padding: 0;;
}

@media (min-width: 400px)
{
    .container{
        width: 500px;
        margin: 100px auto;
    }
 /* form layout */
.form-container{
    display: flex;
    /* background-color: green; */
    position: relative;
    align-items: center;
    border-bottom: 1px solid black;
}

.formGroup{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* padding: 1em 0 1em; */
    width: 90%;
    margin-bottom: 20px;
}

.formgGroup--item{
    margin-right: 0px;
}

.formgGroup--item input{
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 120px;
}

.form-container button{
    position: absolute;
    bottom: -30px;
    /* margin-left: 20px; */
    left: auto;
    right: 0;
    margin-top: 50px;
    border-radius: 100%;
    border: none;
    background-color: black;
    transform: translate(0);
    padding: 0.5em;
}
.result{
    padding: 1em 0 .5em;
}

.result h1{
    /* padding: 2em 0; */
    font-size: 4rem;
    margin: 0;
    padding: 0;;
}   
}